In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20170101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [4]:
s = df.shape

In [6]:
if s[0] > 1:
    print 'The df has {} rows'.format(s[0])

The df has 6 rows

In [18]:
df.loc[:,'A']

2017-01-01    1.608866
2017-01-02    0.014909
2017-01-03    0.493693
2017-01-04    0.966360
2017-01-05    1.678962
2017-01-06    1.993667
Freq: D, Name: A, dtype: float64

In [11]:
df

                   A         B         C         D
2017-01-01  1.608866 -0.034344 -0.792876 -1.325092
2017-01-02  0.014909  1.277078 -1.842627  1.039209
2017-01-03  0.493693  0.190287 -1.060660 -0.309511
2017-01-04  0.966360  0.363225 -0.320477 -2.111329
2017-01-05  1.678962 -0.611142 -2.526125  0.591223
2017-01-06  1.993667 -0.161077  0.320265  0.559837