# Solutions to Lesson 2

## Lab 2 Solution

This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).

In [10]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [11]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [4]:
for x in data.columns.values:
    print x

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [14]:
tmp = data.ix[0:2] # or data.head(2)
print tmp.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5   28.0      NaN  14.9    66      5    6
6   23.0    299.0   8.6    65      5    7

How many observations (i.e. rows) are in this data frame?

In [6]:
print len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [12]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [21]:
data.ix[46,'Ozone']

21.0

How many missing values are in the Ozone column of this data frame?

In [17]:
print data['Ozone'].isnull().sum()
print len(data) - len(data['Ozone'].dropna())

37
37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [20]:
data['Ozone'].mean()

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of "Solar.R" in this subset?

In [19]:
data[(data.Ozone > 31) & (data.Temp > 90)].head()

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30

In [18]:
data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [12]:
print data[ data.Month==6 ].Temp.mean()
print data[ data.Month==6 ]['Temp'].mean()

79.1
79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [13]:
print data[ data.Month==5 ].Ozone.max()

115.0